block main
    ul
        if typeof ul[0] === "string"
            li=ul[0]
        if typeof ul[1] === "string"
            li=ul[1]
        if typeof ul[2] === "string"
            li=ul[2]
        if typeof ul[3] === "string"
            li=ul[3]
        if typeof ul[4] === "string"
            li=ul[4]
        if typeof ul[5] === "string"
            li=ul[5]
        if typeof ul[6] === "string"
            li=ul[6]