link(rel='stylesheet', href='/style/fontsale.css')
script(src='../js/index.js')
script(src='../js/Global.js')
include ../header

div(id="flex-cont")
    div(class="title")
        h1=title
    div(id="flex-info")
        div(id="info")
            ul
                li=ul[0]
                li=ul[1]
                li=ul[2]
                li=ul[3]
                li=ul[4]
                li=ul[5]
                if typeof ul[5] === "string"
                    li=ul[6]
            table
                tr(class="main blue")
                    td тип
                    td(class="price") цены
                tr()
                    td
                    td(class="price")
                tr(class="blue")
                    td
                    td(class="price")
                tr()
                    td
                    td(class="price")
                tr(class="blue")
                    td
                    td(class="price")
        div(class="ntSmth")
            div(class="imgSwitcher")
                div(class="mid-layout")
                    img(src="../img/next.png" class="prev" onclick="switchImg(false)")
                    img(src="../img/next.png" class="next" onclick="switchImg(true)")
                div(class="down-layout")
                    img(src="../img/active.png" class="dot" id="dot1")
                    img(src="../img/inactive.png" class="dot" id="dot2")
                    img(src="../img/inactive.png" class="dot" id="dot3")
                img(id="image" src=imgURL class="smthImg")
                img(id="image" src=imgURL class="smthImg" style="display: none")
                img(id="image" src=imgURL class="smthImg" style="display: none")

            div(class="flexbuts")
                button(class="calc") рассчитать
                img( class="buttonImg" src="../img/button.png")

    div(class="pars")
        p=inside1
        p=inside2
    div(id="flex-box")
        div(class="elem")
            img(src="../img/3/content302.png")
            br
            strong Обьемные буквы
            p из орг. стекла с лицевой подсветко
            price ≈ 15.000 руб
        div(class="elem")
            img(src="../img/3/content302.png")
            br
            strong Обьемные буквы
            p из орг. стекла с лицевой подсветко
            price ≈ 15.000 руб
        div(class="elem")
            img(src="../img/3/content303.png")
            br
            strong Обьемные буквы
            p из орг. стекла с лицевой подсветко
            price ≈ 15.000 руб
        div(class="elem")
            img(src="../img/3/content304.png")
            br
            strong Обьемные буквы
            p из орг. стекла с лицевой подсветко
            price ≈ 15.000 руб



include ../footer