link(rel='stylesheet', href='/style/fontsale.css')
include ../slider
include ../header
script(src='../js/index.js')
script(src='../js/Global.js')

div(id="flex-cont")
    div(class="title")
        h1=title
    div(id="flex-info")
        div(id="info")
            ul
                if typeof ul[0] === "string"
                    li=ul[0]
                if typeof ul[1] === "string"
                    li=ul[1]
                if typeof ul[2] === "string"
                    li=ul[2]
                if typeof ul[3] === "string"
                    li=ul[3]
                if typeof ul[4] === "string"
                    li=ul[4]
                if typeof ul[5] === "string"
                    li=ul[5]
                if typeof ul[6] === "string"
                    li=ul[6]
                else
                    div(style="height:33px; width:auto; display:block")
            table
                tr(class="main blue")
                    td тип
                    td(class="price") цены
                tr()
                    td
                    td(class="price")
                tr(class="blue")
                    td
                    td(class="price")
                tr()
                    td
                    td(class="price")
                tr(class="blue")
                    td
                    td(class="price")
        div(class="ntSmth")
            div(class="imgSwitcher")
                div(class="mid-layout")
                    img(src="../img/next.png" class="prev" onclick="switchImg(false)")
                    img(src="../img/next.png" class="next" onclick="switchImg(true)")
                div(class="down-layout")
                    img(src="../img/active.png" class="dot" id="dot1" onclick="setImg(1)")
                    img(src="../img/inactive.png" class="dot" id="dot2" onclick="setImg(2)")
                    img(src="../img/inactive.png" class="dot" id="dot3" onclick="setImg(3)")
                img(id="image" src=imgURL[0] class="smthImg")
                img(id="image" src=imgURL[1] class="smthImg" style="display: none")
                img(id="image" src=imgURL[2] class="smthImg" style="display: none")

            div(class="flexbuts")
                img( src="/img/rasbutton.png" class="calc" )
                img( class="buttonImg" src="../img/button.png" onclick="displayOrder()")

    div(class="pars")
        p=inside1
        p=inside2
    div(id="flex-box")
        div(class="elem")
            img(src="../img/3/content302.png")
            br
            strong Обьемные буквы
            p из орг. стекла с лицевой подсветко
            price ≈ 15.000 руб
        div(class="elem")
            img(src="../img/3/content302.png")
            br
            strong Обьемные буквы
            p из орг. стекла с лицевой подсветко
            price ≈ 15.000 руб
        div(class="elem")
            img(src="../img/3/content303.png")
            br
            strong Обьемные буквы
            p из орг. стекла с лицевой подсветко
            price ≈ 15.000 руб
        div(class="elem")
            img(src="../img/3/content304.png")
            br
            strong Обьемные буквы
            p из орг. стекла с лицевой подсветко
            price ≈ 15.000 руб
if calcURL
    script.
        elems("calc")[0].onclick= function (){moveTo('#{calcURL}')}
else
    script.
        elems("calc")[0].onclick= function (){displaySell()}

include ../footer