link(rel='stylesheet', href='/style/sellInfo.css')
include ../slider
include ../header
if title === " ТАБЛИЧКИ УКАЗАТЕЛИ"
    style.
        table tbody td{
            width: 29%;
        }
style.
    #smth .rightflex {
        width: 70%;
        min-height: 328px;
    }
    #smth .imgSwitcher .mid-layout{
        bottom: -50%!important;
    }
    @media (min-width: 1700px) {
        #smth {
            height: 555px;
        }
        #smth .rightflex .flexbuts .buttonImg, #smth .rightflex .flexbuts .calc{
            height: 61px!important;
        }
    }
script(src='../js/index.js')
script(src='../js/Global.js')
script(src='../js/switcher.js')
div(class="flex-page")
    div(class="title")
        h1=title.toUpperCase()
    div(id="smth")
        div(class="imgSwitcher")
            div(class="mid-layout")
                img(src="../img/next.png" class="prev" onclick="switchImg(false)")
                img(src="../img/next.png" class="next" onclick="switchImg(true)")
            div(class="down-layout")
                img(src="../img/active.png" class="dot" id="dot1" onclick="setImg(1)")
                img(src="../img/inactive.png" class="dot" id="dot2" onclick="setImg(2)")
                img(src="../img/inactive.png" class="dot" id="dot3" onclick="setImg(3)")
            if imgURL
                img(id="image" src=imgURL[0] class="smthImg")
                img(id="image" src=imgURL[1] class="smthImg" style="display: none")
                img(id="image" src=imgURL[2] class="smthImg" style="display: none")
            else
                img( src="../img/4/nakOk.jpg" class="smthImg")
                img(src="../img/4/nakOk.jpg"  class="smthImg" style="display:none")
                img(src="../img/4/nakOk.jpg"  class="smthImg" style="display:none")
        div(class="rightflex")
            div(class="content-container")
                if title === " Входные группы"
                    include ../content/input/mainInfo
                else if title === " НАКЛЕЙКИ НА ОКНА"
                    include ../content/nakOk/mainInfo
                else if title === " ТАБЛИЧКИ ИЗ ОРГ. СТЕКЛА"
                    include ../content/tabO/mainInfo
                else if title === " ТАБЛИЧКИ С ГРАВИРОВКОЙ"
                    include ../content/tabG/mainInfo
                else if title === " СМЕННЫЕ ТАБЛИЧКИ"
                    include ../content/tabS/mainInfo
                else if title === " ТАБЛИЧКИ УКАЗАТЕЛИ"
                    include ../content/tabUk/mainInfo
                else if title === " Фотозоны"
                    include ../content/zone/mainInfo
                else if title === ' Штендеры'
                    include ../content/stend/mainInfo
                else
                    include ../content/lakpv/mainInfo
            div(class='flexbuts' style="margin-top:90px")
                img(class="calc" src='/img/calc.png' onclick="displayMessage('Калькулятор временно отсутствует')")
                img(src="../img/button.png"  class="buttonImg" onclick="displayOrder()")
    div(class="title")
        h1 ПРИМЕРЫ НАШИХ РАБОТ
    div(class="photoflex" id="toHide")
        div(class='left' onclick="newRow('lights',false)")
        img(class="lights" src="../img/vivs/sk1.jpg" onclick="displayImg('../img/vivs/sk1.jpg')")
        img(class="lights" src="../img/vivs/sk2.jpg" onclick="displayImg('../img/vivs/sk2.jpg')")
        img(class="lights" src="../img/vivs/sk3.jpg" onclick="displayImg('../img/vivs/sk3.jpg')")
        img(class="lights" src="../img/vivs/sk4.jpg" onclick="displayImg('../img/vivs/sk4.jpg')")
        img(class="lights" src="../img/vivs/sk5.jpg" onclick="displayImg('../img/vivs/sk5.jpg')")
        div(class='right' onclick="newRow('lights',true)")
    div(id="hidden" style='display:none')
        br
        div(class="photoflex")
            img(class="lights" src="../img/vivs/sk1.jpg" onclick="displayImg('../img/vivs/sk1.jpg')")
            img(class="lights" src="../img/vivs/sk2.jpg" onclick="displayImg('../img/vivs/sk2.jpg')")
            img(class="lights" src="../img/vivs/sk3.jpg" onclick="displayImg('../img/vivs/sk3.jpg')")
            img(class="lights" src="../img/vivs/sk4.jpg" onclick="displayImg('../img/vivs/sk4.jpg')")
            img(class="lights" src="../img/vivs/sk5.jpg" onclick="displayImg('../img/vivs/sk5.jpg')")
        br
        div(class="photoflex")
            img(class="lights" src="../img/vivs/sk1.jpg" onclick="displayImg('../img/vivs/sk1.jpg')")
            img(class="lights" src="../img/vivs/sk2.jpg" onclick="displayImg('../img/vivs/sk2.jpg')")
            img(class="lights" src="../img/vivs/sk3.jpg" onclick="displayImg('../img/vivs/sk3.jpg')")
            img(class="lights" src="../img/vivs/sk4.jpg" onclick="displayImg('../img/vivs/sk4.jpg')")
            img(class="lights" src="../img/vivs/sk5.jpg" onclick="displayImg('../img/vivs/sk5.jpg')")
        br
        div(class="photoflex")
            img(class="lights" src="../img/vivs/sk1.jpg" onclick="displayImg('../img/vivs/sk1.jpg')")
            img(class="lights" src="../img/vivs/sk2.jpg" onclick="displayImg('../img/vivs/sk2.jpg')")
            img(class="lights" src="../img/vivs/sk3.jpg" onclick="displayImg('../img/vivs/sk3.jpg')")
            img(class="lights" src="../img/vivs/sk4.jpg" onclick="displayImg('../img/vivs/sk4.jpg')")
            img(class="lights" src="../img/vivs/sk5.jpg" onclick="displayImg('../img/vivs/sk5.jpg')")
    div(class="title")
        button(class="moreI" onclick="hidePhoto()")
            text показать еще
            text(class="arrow") «

    div(class="title")
        h2
            text ЦЕНЫ НА
            span
            tov=title.toUpperCase()
    br
    table
        if title === " Входные группы"
            include ../content/input/table
        else if title === " НАКЛЕЙКИ НА ОКНА"
            include ../content/nakOk/table
        else if title === " ТАБЛИЧКИ ИЗ ОРГ. СТЕКЛА"
            include ../content/tabO/table
        else if title === " ТАБЛИЧКИ С ГРАВИРОВКОЙ"
            include ../content/tabG/table
        else if title === " СМЕННЫЕ ТАБЛИЧКИ"
            include ../content/tabS/table
        else if title === " ТАБЛИЧКИ УКАЗАТЕЛИ"
            include ../content/tabUk/table
        else if title === "СВЕТОВОЙ КОРОБ ИЗ АКРИЛА И ПВХ" || 'СВЕТОВОЙ КОРОБ ИЗ АЛЮМОКОМПОЗИТА\n' + 'С ИНКРУСТАЦИЕЙ ПРОЗРАЧНОГО АКРИЛА' || 'СВЕТОВОЙ КОРОБ С МЕТАЛЛИЧЕСКИМ КАРКАСОМ\n' + 'И БАННЕРНОЙ ТКАНЬЮ НА ЛИЦЕВОЙ ЧАСТИ' || 'СВЕТОВОЙ КОРОБ С МЕТАЛЛИЧЕСКИМ КАРКАСОМ\n' + 'И БАННЕРНОЙ ТКАНЬЮ НА ЛИЦЕВОЙ ЧАСТИ' || 'СВЕТОВОЙ КОРОБ ИЗ ПОЛИКАРБОНАТА И ПВХ' || 'СВЕТОВОЙ КОРОБ С МЕТАЛЛИЧЕСКИМ КАРКАСОМ\n' + 'И ПВХ НА ЛИЦЕВОЙ ЧАСТИ' || 'СВЕТОВОЙ КОРОБ С МЕТАЛЛИЧЕСКИМ КАРКАСОМ\n' + 'И СОТОВЫМ ПОЛИКАРБОНАТОМ НА ЛИЦЕВОЙ ЧАСТИ' || 'СВЕТОВОЙ КОРОБ С ОТКРЫТЫМИ СВЕТОДИОДАМИ' || 'СВЕТОВОЙ КОРОБ ИЗ АЛЮМОКОМПОЗИТА С ПРОРЕЗКОЙ' || 'СВЕТОВОЙ КОРОБ ИЗ АЛЮМОКОМПОЗИТА\n' + 'С ИНКРУСТАЦИЕЙ ПРОЗРАЧНОГО АКРИЛА'
            include ../content/lakpv/table
        else if title === " Фотозоны"
            include ../content/zone/table
        else if title === " Штендеры"
            include ../content/stend/table
        else
            include ../content/lakpv/table
    div(id="content-container")
        if title === " Входные группы"
            include ../content/input/secText
        else if title === " НАКЛЕЙКИ НА ОКНА"
            include ../content/nakOk/secText
        else if title === " ТАБЛИЧКИ ИЗ ОРГ. СТЕКЛА"
            include ../content/tabO/secText
        else if title === " ТАБЛИЧКИ С ГРАВИРОВКОЙ"
            include ../content/tabG/secText
        else if title === " СМЕННЫЕ ТАБЛИЧКИ"
            include ../content/tabS/secText
        else if title === " ТАБЛИЧКИ УКАЗАТЕЛИ"
            include ../content/tabUk/secText
        else if title === "СВЕТОВОЙ КОРОБ ИЗ АКРИЛА И ПВХ" || 'СВЕТОВОЙ КОРОБ ИЗ АЛЮМОКОМПОЗИТА\n' + 'С ИНКРУСТАЦИЕЙ ПРОЗРАЧНОГО АКРИЛА' || 'СВЕТОВОЙ КОРОБ С МЕТАЛЛИЧЕСКИМ КАРКАСОМ\n' + 'И БАННЕРНОЙ ТКАНЬЮ НА ЛИЦЕВОЙ ЧАСТИ' || 'СВЕТОВОЙ КОРОБ С МЕТАЛЛИЧЕСКИМ КАРКАСОМ\n' + 'И БАННЕРНОЙ ТКАНЬЮ НА ЛИЦЕВОЙ ЧАСТИ' || 'СВЕТОВОЙ КОРОБ ИЗ ПОЛИКАРБОНАТА И ПВХ' || 'СВЕТОВОЙ КОРОБ С МЕТАЛЛИЧЕСКИМ КАРКАСОМ\n' + 'И ПВХ НА ЛИЦЕВОЙ ЧАСТИ' || 'СВЕТОВОЙ КОРОБ С МЕТАЛЛИЧЕСКИМ КАРКАСОМ\n' + 'И СОТОВЫМ ПОЛИКАРБОНАТОМ НА ЛИЦЕВОЙ ЧАСТИ' || 'СВЕТОВОЙ КОРОБ С ОТКРЫТЫМИ СВЕТОДИОДАМИ' || 'СВЕТОВОЙ КОРОБ ИЗ АЛЮМОКОМПОЗИТА С ПРОРЕЗКОЙ' || 'СВЕТОВОЙ КОРОБ ИЗ АЛЮМОКОМПОЗИТА\n' + 'С ИНКРУСТАЦИЕЙ ПРОЗРАЧНОГО АКРИЛА'
            include ../content/lakpv/secText
        else if title === 'ОБЪЕМНЫЙ БУКВЫ ИЗ АКРИЛА С МЕТАЛЛОМ'
            include ../content/font/akmet/secText
        else if title === 'ОБЪЕМНЫЙ БУКВЫ ИЗ АКРИЛА'
            include ../content/font/ak/secText
        else if title === 'ОБЪЕМНЫЙ БУКВЫ ИЗ АКРИЛА И ПВХ С КОНТРАЖУРОМ'
            include ../content/font/akpvk/secText
        else if title === 'ОБЪЕМНЫЙ БУКВЫ ИЗ МЕТАЛЛА С КОНТРАЖУРОМ'
            include ../content/font/metk/secText
        else if title === 'ОБЪЕМНЫЙ БУКВЫ ИЗ АКРИЛА И ПВХ'
            include ../content/font/akpv/secText
        else if title === 'ОБЪЕМНЫЙ БУКВЫ С ОТКРЫТЫМ НЕОНОМ'
            include ../content/font/neon/secText
        else if title === 'ОБЪЕМНЫЙ БУКВЫ С ОТКРЫТЫМИ СВЕТОДИОДАМИ'
            include ../content/font/svet/secText
        else if title === 'ОБЪЕМНЫЙ БУКВЫ РЕТРО'
            include ../content/font/svet/secText
        else if title === " Штендеры"
            include ../content/stend/secText
        else if title === " Фотозоны"
            include ../content/zone/secText
    div(class="title")
        h2 ТАКЖЕ МОЖЕТ БЫТЬ ИНТЕРЕСНО
    div(class="ulflex")
        ul
            li Roll-up light
            li Roll-up light
            li Roll-up light
        ul
            li Roll-up light
            li Roll-up light
            li Roll-up light
        ul
            li Roll-up light
            li Roll-up light
            li Roll-up light
        ul
            li Roll-up light
            li Roll-up light
            li Roll-up light
        ul
            li Roll-up light
            li Roll-up light


    div(class="title")
        h2 ПОПУЛЯНЫЕ ЗАКАЗЫ
    div(id="flex-box")
        div(class="elem")
            img(src="../img/4/content411.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/4/content412.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/4/content413.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/4/content414.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
        div(class="elem")
            img(src="../img/4/content415.png")
            br
            bold Обьемные буквы
            p из орг. стекла с лицевой подсветкой высота букв 20см
            div
                price ≈ 15.000 руб
                button(onclick="displayOrder()") заказать
if calcURL
    script.
        elems("calc")[0].onclick= function (){moveTo('#{calcURL}')}
else
    script.
        elems("calc")[0].onclick= function (){displayOrder()}
include ../footer